.HeaderContainer {
    width: 100%;
    height: 100%;  
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.HeaderText {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1;
}